/* theme */

:root {
    --primary: #37415c;
    --primary-light: #e7f9f9;
    --accent: #0652dd;
    --warning: #ea2027;
    --success: #009432;
    --font-family: 'Open Sans', sans-serif;
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%),
    0 1px 3px 1px rgb(60 64 67 / 15%);
    --border-radius: 3px;
    --gray-light: #ddd;
    --border: 1px solid var(--gray-light);
    --color: #636466;
    --color-dark: #444;
    --color-primary: white;
    --gray: #636466;
    --gray-dark: #444;
    --footer-background: #0a3d62;
    --font-size-small:14px;
    --font-size-regular: 16px;
    --font-weight-regular: 400;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --line-height-hight: 30px;
}


/*
DEBUG
*/

.b1 {
    background-color: red;
}

.b2 {
    background-color: blue;
}
.b3 {
    background-color: orange;
}
.b4 {
    background-color: chartreuse;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: var(--font-family);
    color: var(--color);
}

ul {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--color-dark);
}

a {
    color: inherit;
    text-decoration: none;
}
/* flex */

.d-flex {
    display: flex;
}

.flex-row-nowrap {
    flex-flow: row nowrap;
}

.flex-row-wrap {
    flex-flow: row wrap;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.flex-fill {
    flex: 1;
}

/* margin */

.m-5 {
    margin: 5px;
}
.mr-5 {
    margin-right: 5px;
}

.m-10 {
    margin: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.m-20 {
    margin: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

 .mr-50 {
     margin-right: 50px;
 }
/* padding */

.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}



.sidebar {
    min-width: 200px;
}

.content {
    max-width: 1200px;
}
/* Header */

.header-logo {
    width: 150px;
}

.header-search {
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
    max-width: 400px;
    &-loading {
        height: 30px;
    }
}

.header-search input{
    border: 0;
    outline: 0;
    background-color: var(--gray-light);
    height: 30px;
}

.header-logo img {
    max-width: 150px;
}

header {
    box-shadow: var(--box-shadow);
}
/* Boutons */
.btn{

    border-radius: var(--border-radius);
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.btn:hover{
    opacity:0.8;
    transition: opacity 0.4s;
}

.btn-small {

    padding: 5px 15px;

}

.btn-primary {

    background-color: var(--primary);
    color: var(--color-primary);
    font-weight: 600;
}

.btn-primary-stroke {
    border: 1px solid var(--primary);
    color:var(--primary);
    background-color: white;
}

/*footer*/

footer {
    background-color: var(--footer-background);
    color:white;
}

/* Sidebar */

.sidebar-nav a{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: var(--font-size-small);
}

.sidebar-nav a:hover{
    opacity: 0.8;
    transition: opacity 0.4s;
}

.sidebar-nav a i {
    color: var(--color-dark);
}

.active {
    border-left: 5px solid var(--primary);
    background-color: var(--primary-light);

}


.app-content {
    background-color: var(--gray-light);
}

.block {
    padding: 20px;
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--box-shadow);
}

.block-shadow:hover {
    cursor: pointer;
    box-shadow: none;
    transition: box-shadow 0.4s ;
}

.form-row {
    display: flex;
    flex-flow: column;
    margin-bottom: 20px;
}

.form-row label {
    margin-bottom: 5px;
    font-weight: var(--font-weight-semi-bold);
    color: var(--color-dark);
}

.form-row textarea {
    min-height: 150px;
}

.form-row input,textarea {
    font-family: var(--font-family);
    border:0;
    border-radius: var(--border-radius);
    padding: 10px 15px;
    background-color: var(--gray-light);
}

.form-errors {
    color: var(--warning);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semi-bold);
}

.question-content {
    border-bottom: 1px solid var(--gray-light);
}

.avatar {
    width: 25px;
    border-radius: 50%;
}

.avatar-lg {
    width: 40px;
}

.small {
    font-size: var(--font-size-small);
    font-family: var(--font-family);
}

.clickable {
    color: var(--primary);
    cursor: pointer;
    font-weight: var(--font-weight-semi-bold);
}

.rating-up {
    color: var(--primary);
}

.rating-down {
    color: var(--warning)
}


.text-small {
    font-size: var(--font-size-small);
}

.flash {
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: var(--success);
}

.flash-success {
    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: var(--success);
}
.flash-error {    padding: 20px;
    text-align: center;
    color: #fff;
    background-color: var(--warning);
}

.separator {
    border-bottom: 1px solid var(--gray-light);
    margin: 30px 0px
}

small {
    color:var(--gray);
    opacity: 0.8;
}

.question-text, question-response-text {
    line-height: var(--line-height-hight);
    white-space: pre-wrap;
}

.profile-picture {
    width: 150px;
    border-radius: var(--border-radius);
}

